body * {
   width: 100%;
   box-sizing: border-box;
}

body {
   margin: 0;
   
}

.container {
   background: #F8EDEB;
   color: aliceblue;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.5fr 0.75fr 1fr 1fr 1fr;
   grid-template-areas:
      ". title title ."
      "L years years R"
      "jan feb mar apr"
      "may jun jul aug"
      "sep oct nov dec";
   min-height: 100vh;
   padding: 15px;
   grid-row-gap: 5px;
   grid-column-gap: 5px;
}

#welcome, #button, #month {
   display: flex;
   justify-content: center; 
   align-items: center;
   -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;
}

#welcome {
   grid-area: title;
   text-align: center;
   font-size: x-large;
   text-decoration: none;
   background-color: #CB997E;
   color: aliceblue;
   font-weight: 300;
   font-family: 'Montserrat', sans-serif;
}

#button{
   font-size: 50px;
   font-style: normal;
   font-weight: 600;
   color: #ddbea9;
}

.left {
   grid-area: L;
}

.year-bar {
   grid-area: years;
   display: flex;
   justify-items: space-around; 
   align-items: center;
   flex-direction: row;
   background-color: #DDBEA9;
   font-family: 'Lato', sans-serif;
   font-size: x-large;
   font-weight: 900;
   color: black;
}

#prev:hover, #curr:hover, #next:hover {
   text-decoration: underline;
}

#prev, #curr, #next {
   text-align: center;
}

#prev, #next { 
   font-size: large;
}

#curr {
   font-size: larger;
}

.right {
   grid-area: R;
}

#month{
   font-size: xx-large;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   font-style: italic;
   background-color: #EDDCD2;
   color: black;

}

.jan {
   grid-area: jan;
}

.feb {
   grid-area: feb;

}

.mar {
   grid-area: mar;
}

.apr {
   grid-area: apr;
}

.may {
   grid-area: may;
}

.jun {
   grid-area: jun;
}

.jul {
   grid-area: jul;
}

.aug {
   grid-area: aug;

}

.sep {
   grid-area: sep;
}

.oct {
   grid-area: oct;
}

.nov {
   grid-area: nov;
}

.dec {
   grid-area: dec;;
}


@media (max-width: 1024px) {
   .container{
      height: 100vh;
      width: 100%;
      margin: 0px;
      padding: 5px;
       display: grid;
       grid-template-rows: 0.125fr 0.25fr 1fr 1fr 1fr 1fr;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-areas: 
           ". title ."
           "L years R"
           "jan feb mar"
           "apr may jun"
           "jul aug sep"
           "oct nov dec";
   }

   #welcome {
      font-size: large;
   }

}

@media (max-width: 600px) {
   .title, .years, .year-bar, #welcome, #button {
      display: none;
   }

   .container{
       padding: 5px;
       display: grid;
       grid-template-rows: 0.2fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
       grid-template-columns: 1fr;
       grid-template-areas: 
         "jan"
         "feb" 
         "mar"
         "apr"
         "may" 
         "jun" 
         "jul" 
         "aug"
         "sep"
         "oct"
         "nov" 
         "dec";
       height: 100vh;
       width: 100%;
   }
}
